.maintitle, .namepizza, .textcolor, .secondarytitle {
    color :#189BC7;
    font-family: 'Dancing Script', cursive;
}

.maintitle{
    font-weight: 700;
    font-size: 4em;
}

.secondarytitle {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3rem;
}


