/* .img-fluid {
    width: 100%;
}
.full-width-img  {
    width: 100%;
}
.upline {
    width: 100%;
} */

.img-fluid , .full-width-img , .upline {
    width:100%;
}

.img-fluid {
     /*width 100vh initialy*/
    height: 100vh;
}

.full-width-img {
    position: absolute;
    height: 90%;
    left: 0;
}

.upline {
    font-size: 20px;
    position: absolute;
    padding: 15px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5) ;
    color: rgba(252, 252, 252, 0.5);
}

/* --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */

